$primary_color: #01a2a6;
$secondary_color: #29d9c2;
$light_color: #ffffa6;
$medium_color: #777777;
$dark-color: #10273d;
$light_green: #bdf271;
$font: 'Lato', sans-serif;
$font2: 'Montserrat', sans-serif;
