@import 'config';

/* -------------------------------------- */
/* GLOBAL */
/* -------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font;
    color: $medium_color;
}

a{
    color: $medium_color;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

/* -------------------------------------- */
/* Utility classes */
/* -------------------------------------- */

.container{
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

%btn-shared{
    display: inline-block;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
}

.btn{
    &-light{
        @extend %btn-shared;
        color: $dark_color;
        background: $light_color;
        padding: 1.5rem 2.2rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    &-green{
        @extend %btn-shared;
        color: #fff;
        background: $light_green;
    }
}

/* -------------------------------------- */
/* Header */
/* -------------------------------------- */

#showcase{
    height: 100vh;
    background: #9bddd8 url(../img/header/background.png) no-repeat center -30%;

    .container{
        height: 100%;

        .header-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 7.6rem;



            .logo{
                font-family: $font2;
                font-size: 1.5rem;
                color: #fff;

                span{
                    font-weight: bold;
                }
            }

            #main-nav{
                ul{
                    display: flex;
                    justify-content: space-around;

                    li{
                        a{
                            display: block;
                            font-size: 0.8rem;
                            color: #fff;
                            font-weight: bold;
                            padding: 0.7rem 1rem;
                            border: 1px solid transparent;
                            border-radius: 1rem;
                            transition: color 0.2s ease-in-out;

                            &.current{
                                border: 1px solid #fff;
                                border-radius: 1rem;
                            }

                            &:hover{
                                color: $light_color;
                                
                            }
                        }

                        &:last-child{
                            // position: relative;
                            
                            color: #fff;
                            img{
                                width: 2.5rem;
                                height: 2.5rem;
                                border-radius: 50%;

                            }
                            i{
                                position: relative;
                                font-size: 0.8rem;
                                top: -1rem;
                            }
                        }
                    }
                }
            }
        }

        .header-bottom{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            
            h1{ 
                margin: 5rem 0 2rem 0;

                font-size: 5rem;
                text-transform: uppercase;
                color: white;
                span{
                    color: $primary_color;
                }
            }
            p{
                color: #fafafa;
                font-size: 1.2rem;
            }
            .btn{
                margin-top: 3rem;
            }
        }

    }
}

/* -------------------------------------- */
/* About */
/* -------------------------------------- */

#section-about{

    min-height: 500px;

    .about{
        
        &-content{
            min-height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-image{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 80%;
            }
        }

        &-description{
            flex: 1;
            align-self: flex-start;
            h2{
                margin-top: 5rem;
                color: $secondary-color;
                font-size: 4rem;

                span{
                    color: $primary_color;
                }
            }
            p{
                margin-top: 1rem;
                line-height: 1.5;
            }
        }


    }
}

/* -------------------------------------- */
/* Destination */
/* -------------------------------------- */

#section-destination{
    background: #f2fefe;
    padding: 2rem;
    .content-top{
        border-bottom: 1px dotted $medium_color;
        min-height: 360px;
        display: grid;
        grid-template-areas:
        'title title title info info'
        'desc desc desc info info'
        'form form form form form';
        grid-gap: 1rem;
        align-items: center;
        
        h2{
            grid-area: title;
            color: $secondary-color;
            font-size: 4rem;

            span{
                color: $primary_color;
            }
        }

        p{
            grid-area: desc;
            padding-right: 5rem;
            align-self: flex-start;
        }
        .info{
            grid-area: info;
        }
        form{
            grid-area: form;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .search-input{
                width: 230px;
                height: 2rem;
                border-radius: 1rem;
                position: relative;
                overflow: hidden;
                background: #fff;
                display: flex;
                align-items: center;
                padding: 5px;

                input{
                    width: 85%;
                    height: 90%;
                    position: absolute;
                    top:0;
                    right:0;
                    border: none;
                    outline: none;
                }
            }

            .options{
                label{
                    cursor: pointer;
                }

                input[type=checkbox]{
                    display: none;
                }

                input[type=checkbox]:checked + label {
                    font-weight: bold;
                } 
            }

        }
    }

    // Gallery
    .destination-gallery{
        display: grid;
        grid-template-areas:
            'bImg bImg bImg bDesc bDesc' 
            'brDesc brImg brImg brImg2 brImg2'
            'num num num num num';
        grid-gap: 2rem;
        justify-content: center;
        align-items: center;

        .batu{
            &-img{
                grid-area: bImg;
            }
            &-desc{
                grid-area: bDesc;

                img{
                    width: 5rem;
                    margin-bottom: 1rem;
                }
                p{
                    margin-top: 1rem;
                    line-height: 1.5;
                }
            }
        }
        .bromo{
            &-desc{
                grid-area: brDesc;
                img{
                    width: 5rem;
                    margin-bottom: 1rem;
                }
                p{
                    margin-top: 1rem;
                    line-height: 1.5;
                }
            }

            &-img-1{
                grid-area: brImg;
                width: 100%;
            }

            &-img-2{
                grid-area: brImg2;

                img{
                    width: 100%;
                    display: block;
                }

            }
        }
        .numbers{
            grid-area: num;
            justify-self: center;
        }


    }



}
/* -------------------------------------- */
/* Section: Contact */
/* -------------------------------------- */

#section-contact{
    min-height: 665px;
    background: linear-gradient( rgba(1,162,166, 0.8), rgba(1,162,166, 0.8) ),
        url(../img/contact/background.png) no-repeat center center/cover;
    color: #fff;

    h1{
        text-align: center;
        font-size: 4rem;
        margin: 6rem 0;
        font-weight: 900;
        
    }

    .contact-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 5rem;

        form{
            display: grid;
            grid-template-areas:
                'email email'
                'company subject'
                'message message'
                'message message';
                // 'btn btn';
            grid-gap: 1rem;

            .input{
                padding: .7rem;
                outline: none;

                &-email{
                    grid-area: email;
                }
                &-company{
                    grid-area: company;
                }
                &-subject{
                    grid-area: subject;
                }
                &-message{
                    grid-area: message;
                    height: 7rem;
                }
                &-submit{
                    grid-area: btn;
                }
            }
            
            
            .btn{
                grid-column: 2 / 3;
            }

        }

        .address{
            font-weight: 100;
            h2{
                text-transform: capitalize;
                margin-bottom: 2rem;
                font-size: 3rem;
                font-weight: 100;
            }
            ul{
                li{
                    margin-bottom: 1rem;
                    div{
                        color: $light_green;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

/* -------------------------------------- */
/* Footer */
/* -------------------------------------- */

#main-footer{
    
    .footer-top{
        background: linear-gradient($light-green, #b1e568);
        min-height: 210px;

        .footer-content{
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1{
                color: #fff;
                font-size: 4rem;

            }
            p{
                color: #fff;
            }

            .subscription{
                width: 450px;
                height: 70px;
                font-size: 1.5rem;
                display: flex;
                input{
                    width: 85%;
                    height: 100%;   
                    font-size: inherit;
                    border: none;
                    padding: .2rem;
                }
                i{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 15%;
                    height: 100%;
                    background: $primary_color;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }

    .footer-bottom{
        min-height: 275px;
        background:linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9) ),  
            url(../img/footer/mountain.png) no-repeat center center/cover;
        .bottom-content{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 225px 50px;

            .linki{
                margin-top: 1rem;
            }

            .socials{
                margin-top: 1rem;
                ul{
                    display: flex;
                    justify-content: flex-end;
                    li{
                        margin-right: 2rem;
                    }
                }
            }
            .copy{
                grid-column: 1 / span 2;
                text-align: center;
            }
        }
    }
}

/* -------------------------------------- */
/* Media Queries */
/* -------------------------------------- */
@import 'media';